@font-face {
    font-family: FiraCode;
    src: url(/fonts/firacode.woff);
}

@mixin vh-size {
    $i: 10;
    @while $i <= 100 {
        .vh-#{$i} { height: $i + "vh"; }
        $i: $i + 10;
    }
}

@include vh-size;

* {
    scroll-behavior: smooth;
    overflow: hidden;
    font-family: FiraCode, monospace;
}

textarea {
    resize: none;
}