.project-modal {
    .project-modal-inner {
        margin-top: 5vh;
        height: 80vh;
        width: 90vw;
        background: rgba(0, 0, 0, 0.75);
        .project-modal-detail {
            p {
                margin: 0px;
            }
        }
        .project-modal-gallery {
            .carousel {
                width: 80%;
                .carousel-inner {
                    height: 400px;
                }
            }
        }
    }
    .project-modal-links {
        height: 10vh;
        width: 90vw;
        background: rgba(0, 0, 0, 0.75);
    }
}